# Metadata Creation Script - Harvard College Observatory Announcement Cards 
This script generates metadata spreadsheets for each file in the collection. Series are created to indicate datasets and all metadata is expressed at the file level before getting collected into a series/dataset.

In [3]:
## Set global variables

#source path
source_path = '/Users/katherinemika/Desktop/curation/historic_datasets/hco/'

#import libraries
import pandas as pd
import os
import numpy

In [24]:
dtype_spec = {
    'card_date_year': str,
    'card_date_month': str,
    'card_date_day': str
}

hco_inventory_df = pd.read_csv(source_path + 'Report_HCO_clean.csv', index_col=None, dtype=dtype_spec)
hco_inventory_df

,filename,card_number,card_date_year,card_date_month,card_date_day,compiler,observation
0,HCOAnnouncement0001_0001.innodata.xml,1,1926,3,12,Harlow Shapley,NaN
1,HCOAnnouncement0001_0001.innodata.jpg,1,1926,3,12,Harlow Shapley,NaN
2,HCOAnnouncement0001_0001.innodata.txt,1,1926,3,12,Harlow Shapley,NaN
3,HCOAnnouncement0001_0001_a.innodata.csv,1,1926,3,12,Harlow Shapley,BLATHWAYT’S COMET
4,HCOAnnouncement0001_0001_b.innodata.csv,1,1926,3,12,Harlow Shapley,BLATHWAYT’S COMET
...,...,...,...,...,...,...,...
8430,HCOAnnouncement0039_0043_c.innodata.csv,1675,1964,12,23,Richard Southworth For Owen Gingerich,COMET IKEYA (1964f)
8431,HCOAnnouncement0039_0044.innodata.xml,1676,1965,12,30,David Latham For Owen Gingerich,NaN
8432,HCOAnnouncement0039_0044.innodata.jpg,1676,1965,12,30,David Latham For Owen Gingerich,NaN
8433,HCOAnnouncement0039_0044.innodata.txt,1676,1965,12,30,David Latham For Owen Gingerich,NaN
8434,HCOAnnouncement0039_0044_a.innodata.csv,1676,1965,12,30,David Latham For Owen Gingerich,COMET TOMITA-GERBER-HONDA (1964c)

In [25]:
hco_test_batch = hco_inventory_df.head(60)
hco_test_batch

,filename,card_number,card_date_year,card_date_month,card_date_day,compiler,observation
0,HCOAnnouncement0001_0001.innodata.xml,1,1926,3,12,Harlow Shapley,NaN
1,HCOAnnouncement0001_0001.innodata.jpg,1,1926,3,12,Harlow Shapley,NaN
2,HCOAnnouncement0001_0001.innodata.txt,1,1926,3,12,Harlow Shapley,NaN
3,HCOAnnouncement0001_0001_a.innodata.csv,1,1926,3,12,Harlow Shapley,BLATHWAYT’S COMET
4,HCOAnnouncement0001_0001_b.innodata.csv,1,1926,3,12,Harlow Shapley,BLATHWAYT’S COMET
5,HCOAnnouncement0001_0002.innodata.xml,2,1926,3,18,Harlow Shapley,NaN
6,HCOAnnouncement0001_0002.innodata.jpg,2,1926,3,18,Harlow Shapley,NaN
7,HCOAnnouncement0001_0002.innodata.txt,2,1926,3,18,Harlow Shapley,NaN
8,HCOAnnouncement0001_0002_a.innodata.csv,2,1926,3,18,Harlow Shapley,ENSOR'S COMET
9,HCOAnnouncement0001_0002_b.innodata.csv,2,1926,3,18,Harlow Shapley,ENSOR'S COMET
10,HCOAnnouncement0001_0002_c.innodata.csv,2,1926,3,18,Harlow Shapley,BLATHWAYT’S COMET
11,HCOAnnouncement0001_0003.innodata.xml,3,1926,5,15,Harlow Shapley,NaN
12,HCOAnnouncement0001_0003.innodata.jpg,3,1926,5,15,Harlow Shapley,NaN
13,HCOAnnouncement0001_0003.innodata.txt,3,1926,5,15,Harlow Shapley,NaN
14,HCOAnnouncement0001_0004.innodata.xml,4,1926,7,15,Harlow Shapley,NaN
15,HCOAnnouncement0001_0004.innodata.jpg,4,1926,7,15,Harlow Shapley,NaN
16,HCOAnnouncement0001_0004.innodata.txt,4,1926,7,15,Harlow Shapley,NaN
17,HCOAnnouncement0001_0004_a.innodata.csv,4,1926,7,15,Harlow Shapley,KOPFF'S COMET (1906-IV)
18,HCOAnnouncement0001_0005.innodata.xml,5,1926,8,4,Harlow Shapley,NaN
19,HCOAnnouncement0001_0005.innodata.jpg,5,1926,8,4,Harlow Shapley,NaN
20,HCOAnnouncement0001_0005.innodata.txt,5,1926,8,4,Harlow Shapley,NaN
21,HCOAnnouncement0001_0005_a.innodata.csv,5,1926,8,4,Harlow Shapley,FINLAY'S COMET (1886 VII)
22,HCOAnnouncement0001_0006.innodata.xml,6,1926,9,3,Harlow Shapley,NaN
23,HCOAnnouncement0001_0006.innodata.jpg,6,1926,9,3,Harlow Shapley,NaN
24,HCOAnnouncement0001_0006.innodata.txt,6,1926,9,3,Harlow Shapley,NaN
25,HCOAnnouncement0001_0006_a.innodata.csv,6,1926,9,3,Harlow Shapley,WILK COMETARY OBJECT
26,HCOAnnouncement0001_0007.innodata.xml,7,1926,10,18,Harlow Shapley,NaN
27,HCOAnnouncement0001_0007.innodata.jpg,7,1926,10,18,Harlow Shapley,NaN
28,HCOAnnouncement0001_0007.innodata.txt,7,1926,10,18,Harlow Shapley,NaN
29,HCOAnnouncement0001_0007_a.innodata.csv,7,1926,10,18,Harlow Shapley,"GIACOBINI-ZINNER COMET (1900 III, 1913 e)"
30,HCOAnnouncement0001_0008.innodata.xml,8,1926,11,8,Harlow Shapley,NaN
31,HCOAnnouncement0001_0008.innodata.jpg,8,1926,11,8,Harlow Shapley,NaN
32,HCOAnnouncement0001_0008.innodata.txt,8,1926,11,8,Harlow Shapley,NaN
33,HCOAnnouncement0001_0008_a.innodata.csv,8,1926,11,8,Harlow Shapley,New Comet
34,HCOAnnouncement0001_0008_b.innodata.csv,8,1926,11,8,Harlow Shapley,New Comet
35,HCOAnnouncement0001_0008_c.innodata.csv,8,1926,11,8,Harlow Shapley,NEUJMIN'S COMET
36,HCOAnnouncement0001_0009.innodata.xml,9,1920,11,10,Harlow Shapley,NaN
37,HCOAnnouncement0001_0009.innodata.jpg,9,1920,11,10,Harlow Shapley,NaN
38,HCOAnnouncement0001_0009.innodata.txt,9,1920,11,10,Harlow Shapley,NaN
39,HCOAnnouncement0001_0009_a.innodata.csv,9,1920,11,10,Harlow Shapley,COMAS SOLA'S COMET
40,HCOAnnouncement0001_0010.innodata.xml,10,1926,11,11,Harlow Shapley,NaN
41,HCOAnnouncement0001_0010.innodata.jpg,10,1926,11,11,Harlow Shapley,NaN
42,HCOAnnouncement0001_0010.innodata.txt,10,1926,11,11,Harlow Shapley,NaN
43,HCOAnnouncement0001_0010_a.innodata.csv,10,1926,11,11,Harlow Shapley,COMAS SOLA'S COMET
44,HCOAnnouncement0001_0011.innodata.xml,11,1926,11,12,Harlow Shapley,NaN
45,HCOAnnouncement0001_0011.innodata.jpg,11,1926,11,12,Harlow Shapley,NaN
46,HCOAnnouncement0001_0011.innodata.txt,11,1926,11,12,Harlow Shapley,NaN
47,HCOAnnouncement0001_0011_a.innodata.csv,11,1926,11,12,Harlow Shapley,ORBIT OF COMAS SOLA'S CCOMET
48,HCOAnnouncement0001_0012.innodata.xml,12,1926,11,15,Harlow Shapley,NaN
49,HCOAnnouncement0001_0012.innodata.jpg,12,1926,11,15,Harlow Shapley,NaN
50,HCOAnnouncement0001_0012.innodata.txt,12,1926,11,15,Harlow Shapley,NaN
51,HCOAnnouncement0001_0012_a.innodata.csv,12,1926,11,15,Harlow Shapley,COMAS SOLA'S COMET
52,HCOAnnouncement0001_0012_b.innodata.csv,12,1926,11,15,Harlow Shapley,COMAS SOLA'S COMET
53,HCOAnnouncement0001_0012_c.innodata.csv,12,1926,11,15,Harlow Shapley,COMAS SOLA'S COMET
54,HCOAnnouncement0001_0013.innodata.xml,13,1926,12,15,Harlow Shapley,NaN
55,HCOAnnouncement0001_0013.innodata.jpg,13,1926,12,15,Harlow Shapley,NaN
56,HCOAnnouncement0001_0013.innodata.txt,13,1926,12,15,Harlow Shapley,NaN
57,HCOAnnouncement0001_0013_a.innodata.csv,13,1926,12,15,Harlow Shapley,COMAS SOLA'S COMET (1926 f)
58,HCOAnnouncement0001_0013_b.innodata.csv,13,1926,12,15,Harlow Shapley,COMAS SOLA'S COMET (1926 f)
59,HCOAnnouncement0001_0013_c.innodata.csv,13,1926,12,15,Harlow Shapley,COMAS SOLA'S COMET (1926 f)

In [26]:
# create new col that collects observations according to card by grouping by 'card_number' and concatenating non-NaN 'observation' values
hco_test_batch.loc[:, 'all_observations'] = hco_test_batch.groupby('card_number')['observation'].transform(lambda x: '; '.join(x.dropna().unique()))

hco_test_batch

/var/folders/x5/8k4j_05j26vccc6wvb8y4cw00000gq/T/ipykernel_9731/1919729877.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hco_test_batch.loc[:, 'all_observations'] = hco_test_batch.groupby('card_number')['observation'].transform(lambda x: '; '.join(x.dropna().unique()))

,filename,card_number,card_date_year,card_date_month,card_date_day,compiler,observation,all_observations
0,HCOAnnouncement0001_0001.innodata.xml,1,1926,3,12,Harlow Shapley,NaN,BLATHWAYT’S COMET
1,HCOAnnouncement0001_0001.innodata.jpg,1,1926,3,12,Harlow Shapley,NaN,BLATHWAYT’S COMET
2,HCOAnnouncement0001_0001.innodata.txt,1,1926,3,12,Harlow Shapley,NaN,BLATHWAYT’S COMET
3,HCOAnnouncement0001_0001_a.innodata.csv,1,1926,3,12,Harlow Shapley,BLATHWAYT’S COMET,BLATHWAYT’S COMET
4,HCOAnnouncement0001_0001_b.innodata.csv,1,1926,3,12,Harlow Shapley,BLATHWAYT’S COMET,BLATHWAYT’S COMET
5,HCOAnnouncement0001_0002.innodata.xml,2,1926,3,18,Harlow Shapley,NaN,ENSOR'S COMET; BLATHWAYT’S COMET
6,HCOAnnouncement0001_0002.innodata.jpg,2,1926,3,18,Harlow Shapley,NaN,ENSOR'S COMET; BLATHWAYT’S COMET
7,HCOAnnouncement0001_0002.innodata.txt,2,1926,3,18,Harlow Shapley,NaN,ENSOR'S COMET; BLATHWAYT’S COMET
8,HCOAnnouncement0001_0002_a.innodata.csv,2,1926,3,18,Harlow Shapley,ENSOR'S COMET,ENSOR'S COMET; BLATHWAYT’S COMET
9,HCOAnnouncement0001_0002_b.innodata.csv,2,1926,3,18,Harlow Shapley,ENSOR'S COMET,ENSOR'S COMET; BLATHWAYT’S COMET
10,HCOAnnouncement0001_0002_c.innodata.csv,2,1926,3,18,Harlow Shapley,BLATHWAYT’S COMET,ENSOR'S COMET; BLATHWAYT’S COMET
11,HCOAnnouncement0001_0003.innodata.xml,3,1926,5,15,Harlow Shapley,NaN,
12,HCOAnnouncement0001_0003.innodata.jpg,3,1926,5,15,Harlow Shapley,NaN,
13,HCOAnnouncement0001_0003.innodata.txt,3,1926,5,15,Harlow Shapley,NaN,
14,HCOAnnouncement0001_0004.innodata.xml,4,1926,7,15,Harlow Shapley,NaN,KOPFF'S COMET (1906-IV)
15,HCOAnnouncement0001_0004.innodata.jpg,4,1926,7,15,Harlow Shapley,NaN,KOPFF'S COMET (1906-IV)
16,HCOAnnouncement0001_0004.innodata.txt,4,1926,7,15,Harlow Shapley,NaN,KOPFF'S COMET (1906-IV)
17,HCOAnnouncement0001_0004_a.innodata.csv,4,1926,7,15,Harlow Shapley,KOPFF'S COMET (1906-IV),KOPFF'S COMET (1906-IV)
18,HCOAnnouncement0001_0005.innodata.xml,5,1926,8,4,Harlow Shapley,NaN,FINLAY'S COMET (1886 VII)
19,HCOAnnouncement0001_0005.innodata.jpg,5,1926,8,4,Harlow Shapley,NaN,FINLAY'S COMET (1886 VII)
20,HCOAnnouncement0001_0005.innodata.txt,5,1926,8,4,Harlow Shapley,NaN,FINLAY'S COMET (1886 VII)
21,HCOAnnouncement0001_0005_a.innodata.csv,5,1926,8,4,Harlow Shapley,FINLAY'S COMET (1886 VII),FINLAY'S COMET (1886 VII)
22,HCOAnnouncement0001_0006.innodata.xml,6,1926,9,3,Harlow Shapley,NaN,WILK COMETARY OBJECT
23,HCOAnnouncement0001_0006.innodata.jpg,6,1926,9,3,Harlow Shapley,NaN,WILK COMETARY OBJECT
24,HCOAnnouncement0001_0006.innodata.txt,6,1926,9,3,Harlow Shapley,NaN,WILK COMETARY OBJECT
25,HCOAnnouncement0001_0006_a.innodata.csv,6,1926,9,3,Harlow Shapley,WILK COMETARY OBJECT,WILK COMETARY OBJECT
26,HCOAnnouncement0001_0007.innodata.xml,7,1926,10,18,Harlow Shapley,NaN,"GIACOBINI-ZINNER COMET (1900 III, 1913 e)"
27,HCOAnnouncement0001_0007.innodata.jpg,7,1926,10,18,Harlow Shapley,NaN,"GIACOBINI-ZINNER COMET (1900 III, 1913 e)"
28,HCOAnnouncement0001_0007.innodata.txt,7,1926,10,18,Harlow Shapley,NaN,"GIACOBINI-ZINNER COMET (1900 III, 1913 e)"
29,HCOAnnouncement0001_0007_a.innodata.csv,7,1926,10,18,Harlow Shapley,"GIACOBINI-ZINNER COMET (1900 III, 1913 e)","GIACOBINI-ZINNER COMET (1900 III, 1913 e)"
30,HCOAnnouncement0001_0008.innodata.xml,8,1926,11,8,Harlow Shapley,NaN,New Comet; NEUJMIN'S COMET
31,HCOAnnouncement0001_0008.innodata.jpg,8,1926,11,8,Harlow Shapley,NaN,New Comet; NEUJMIN'S COMET
32,HCOAnnouncement0001_0008.innodata.txt,8,1926,11,8,Harlow Shapley,NaN,New Comet; NEUJMIN'S COMET
33,HCOAnnouncement0001_0008_a.innodata.csv,8,1926,11,8,Harlow Shapley,New Comet,New Comet; NEUJMIN'S COMET
34,HCOAnnouncement0001_0008_b.innodata.csv,8,1926,11,8,Harlow Shapley,New Comet,New Comet; NEUJMIN'S COMET
35,HCOAnnouncement0001_0008_c.innodata.csv,8,1926,11,8,Harlow Shapley,NEUJMIN'S COMET,New Comet; NEUJMIN'S COMET
36,HCOAnnouncement0001_0009.innodata.xml,9,1920,11,10,Harlow Shapley,NaN,COMAS SOLA'S COMET
37,HCOAnnouncement0001_0009.innodata.jpg,9,1920,11,10,Harlow Shapley,NaN,COMAS SOLA'S COMET
38,HCOAnnouncement0001_0009.innodata.txt,9,1920,11,10,Harlow Shapley,NaN,COMAS SOLA'S COMET
39,HCOAnnouncement0001_0009_a.innodata.csv,9,1920,11,10,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET
40,HCOAnnouncement0001_0010.innodata.xml,10,1926,11,11,Harlow Shapley,NaN,COMAS SOLA'S COMET
41,HCOAnnouncement0001_0010.innodata.jpg,10,1926,11,11,Harlow Shapley,NaN,COMAS SOLA'S COMET
42,HCOAnnouncement0001_0010.innodata.txt,10,1926,11,11,Harlow Shapley,NaN,COMAS SOLA'S COMET
43,HCOAnnouncement0001_0010_a.innodata.csv,10,1926,11,11,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET
44,HCOAnnouncement0001_0011.innodata.xml,11,1926,11,12,Harlow Shapley,NaN,ORBIT OF COMAS SOLA'S CCOMET
45,HCOAnnouncement0001_0011.innodata.jpg,11,1926,11,12,Harlow Shapley,NaN,ORBIT OF COMAS SOLA'S CCOMET
46,HCOAnnouncement0001_0011.innodata.txt,11,1926,11,12,Harlow Shapley,NaN,ORBIT OF COMAS SOLA'S CCOMET
47,HCOAnnouncement0001_0011_a.innodata.csv,11,1926,11,12,Harlow Shapley,ORBIT OF COMAS SOLA'S CCOMET,ORBIT OF COMAS SOLA'S CCOMET
48,HCOAnnouncement0001_0012.innodata.xml,12,1926,11,15,Harlow Shapley,NaN,COMAS SOLA'S COMET
49,HCOAnnouncement0001_0012.innodata.jpg,12,1926,11,15,Harlow Shapley,NaN,COMAS SOLA'S COMET
50,HCOAnnouncement0001_0012.innodata.txt,12,1926,11,15,Harlow Shapley,NaN,COMAS SOLA'S COMET
51,HCOAnnouncement0001_0012_a.innodata.csv,12,1926,11,15,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET
52,HCOAnnouncement0001_0012_b.innodata.csv,12,1926,11,15,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET
53,HCOAnnouncement0001_0012_c.innodata.csv,12,1926,11,15,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET
54,HCOAnnouncement0001_0013.innodata.xml,13,1926,12,15,Harlow Shapley,NaN,COMAS SOLA'S COMET (1926 f)
55,HCOAnnouncement0001_0013.innodata.jpg,13,1926,12,15,Harlow Shapley,NaN,COMAS SOLA'S COMET (1926 f)
56,HCOAnnouncement0001_0013.innodata.txt,13,1926,12,15,Harlow Shapley,NaN,COMAS SOLA'S COMET (1926 f)
57,HCOAnnouncement0001_0013_a.innodata.csv,13,1926,12,15,Harlow Shapley,COMAS SOLA'S COMET (1926 f),COMAS SOLA'S COMET (1926 f)
58,HCOAnnouncement0001_0013_b.innodata.csv,13,1926,12,15,Harlow Shapley,COMAS SOLA'S COMET (1926 f),COMAS SOLA'S COMET (1926 f)
59,HCOAnnouncement0001_0013_c.innodata.csv,13,1926,12,15,Harlow Shapley,COMAS SOLA'S COMET (1926 f),COMAS SOLA'S COMET (1926 f)

In [35]:
hco_test_batch['series_name'] = 'Announcement Card number: ' + hco_test_batch['card_number']
hco_test_batch

/var/folders/x5/8k4j_05j26vccc6wvb8y4cw00000gq/T/ipykernel_9731/1156940657.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hco_test_batch['series_name'] = 'Announcement Card number: ' + hco_test_batch['card_number']

,filename,card_number,card_date_year,card_date_month,card_date_day,compiler,observation,all_observations,series_name
0,HCOAnnouncement0001_0001.innodata.xml,1,1926,3,12,Harlow Shapley,NaN,BLATHWAYT’S COMET,Announcement Card number: 1
1,HCOAnnouncement0001_0001.innodata.jpg,1,1926,3,12,Harlow Shapley,NaN,BLATHWAYT’S COMET,Announcement Card number: 1
2,HCOAnnouncement0001_0001.innodata.txt,1,1926,3,12,Harlow Shapley,NaN,BLATHWAYT’S COMET,Announcement Card number: 1
3,HCOAnnouncement0001_0001_a.innodata.csv,1,1926,3,12,Harlow Shapley,BLATHWAYT’S COMET,BLATHWAYT’S COMET,Announcement Card number: 1
4,HCOAnnouncement0001_0001_b.innodata.csv,1,1926,3,12,Harlow Shapley,BLATHWAYT’S COMET,BLATHWAYT’S COMET,Announcement Card number: 1
5,HCOAnnouncement0001_0002.innodata.xml,2,1926,3,18,Harlow Shapley,NaN,ENSOR'S COMET; BLATHWAYT’S COMET,Announcement Card number: 2
6,HCOAnnouncement0001_0002.innodata.jpg,2,1926,3,18,Harlow Shapley,NaN,ENSOR'S COMET; BLATHWAYT’S COMET,Announcement Card number: 2
7,HCOAnnouncement0001_0002.innodata.txt,2,1926,3,18,Harlow Shapley,NaN,ENSOR'S COMET; BLATHWAYT’S COMET,Announcement Card number: 2
8,HCOAnnouncement0001_0002_a.innodata.csv,2,1926,3,18,Harlow Shapley,ENSOR'S COMET,ENSOR'S COMET; BLATHWAYT’S COMET,Announcement Card number: 2
9,HCOAnnouncement0001_0002_b.innodata.csv,2,1926,3,18,Harlow Shapley,ENSOR'S COMET,ENSOR'S COMET; BLATHWAYT’S COMET,Announcement Card number: 2
10,HCOAnnouncement0001_0002_c.innodata.csv,2,1926,3,18,Harlow Shapley,BLATHWAYT’S COMET,ENSOR'S COMET; BLATHWAYT’S COMET,Announcement Card number: 2
11,HCOAnnouncement0001_0003.innodata.xml,3,1926,5,15,Harlow Shapley,NaN,,Announcement Card number: 3
12,HCOAnnouncement0001_0003.innodata.jpg,3,1926,5,15,Harlow Shapley,NaN,,Announcement Card number: 3
13,HCOAnnouncement0001_0003.innodata.txt,3,1926,5,15,Harlow Shapley,NaN,,Announcement Card number: 3
14,HCOAnnouncement0001_0004.innodata.xml,4,1926,7,15,Harlow Shapley,NaN,KOPFF'S COMET (1906-IV),Announcement Card number: 4
15,HCOAnnouncement0001_0004.innodata.jpg,4,1926,7,15,Harlow Shapley,NaN,KOPFF'S COMET (1906-IV),Announcement Card number: 4
16,HCOAnnouncement0001_0004.innodata.txt,4,1926,7,15,Harlow Shapley,NaN,KOPFF'S COMET (1906-IV),Announcement Card number: 4
17,HCOAnnouncement0001_0004_a.innodata.csv,4,1926,7,15,Harlow Shapley,KOPFF'S COMET (1906-IV),KOPFF'S COMET (1906-IV),Announcement Card number: 4
18,HCOAnnouncement0001_0005.innodata.xml,5,1926,8,4,Harlow Shapley,NaN,FINLAY'S COMET (1886 VII),Announcement Card number: 5
19,HCOAnnouncement0001_0005.innodata.jpg,5,1926,8,4,Harlow Shapley,NaN,FINLAY'S COMET (1886 VII),Announcement Card number: 5
20,HCOAnnouncement0001_0005.innodata.txt,5,1926,8,4,Harlow Shapley,NaN,FINLAY'S COMET (1886 VII),Announcement Card number: 5
21,HCOAnnouncement0001_0005_a.innodata.csv,5,1926,8,4,Harlow Shapley,FINLAY'S COMET (1886 VII),FINLAY'S COMET (1886 VII),Announcement Card number: 5
22,HCOAnnouncement0001_0006.innodata.xml,6,1926,9,3,Harlow Shapley,NaN,WILK COMETARY OBJECT,Announcement Card number: 6
23,HCOAnnouncement0001_0006.innodata.jpg,6,1926,9,3,Harlow Shapley,NaN,WILK COMETARY OBJECT,Announcement Card number: 6
24,HCOAnnouncement0001_0006.innodata.txt,6,1926,9,3,Harlow Shapley,NaN,WILK COMETARY OBJECT,Announcement Card number: 6
25,HCOAnnouncement0001_0006_a.innodata.csv,6,1926,9,3,Harlow Shapley,WILK COMETARY OBJECT,WILK COMETARY OBJECT,Announcement Card number: 6
26,HCOAnnouncement0001_0007.innodata.xml,7,1926,10,18,Harlow Shapley,NaN,"GIACOBINI-ZINNER COMET (1900 III, 1913 e)",Announcement Card number: 7
27,HCOAnnouncement0001_0007.innodata.jpg,7,1926,10,18,Harlow Shapley,NaN,"GIACOBINI-ZINNER COMET (1900 III, 1913 e)",Announcement Card number: 7
28,HCOAnnouncement0001_0007.innodata.txt,7,1926,10,18,Harlow Shapley,NaN,"GIACOBINI-ZINNER COMET (1900 III, 1913 e)",Announcement Card number: 7
29,HCOAnnouncement0001_0007_a.innodata.csv,7,1926,10,18,Harlow Shapley,"GIACOBINI-ZINNER COMET (1900 III, 1913 e)","GIACOBINI-ZINNER COMET (1900 III, 1913 e)",Announcement Card number: 7
30,HCOAnnouncement0001_0008.innodata.xml,8,1926,11,8,Harlow Shapley,NaN,New Comet; NEUJMIN'S COMET,Announcement Card number: 8
31,HCOAnnouncement0001_0008.innodata.jpg,8,1926,11,8,Harlow Shapley,NaN,New Comet; NEUJMIN'S COMET,Announcement Card number: 8
32,HCOAnnouncement0001_0008.innodata.txt,8,1926,11,8,Harlow Shapley,NaN,New Comet; NEUJMIN'S COMET,Announcement Card number: 8
33,HCOAnnouncement0001_0008_a.innodata.csv,8,1926,11,8,Harlow Shapley,New Comet,New Comet; NEUJMIN'S COMET,Announcement Card number: 8
34,HCOAnnouncement0001_0008_b.innodata.csv,8,1926,11,8,Harlow Shapley,New Comet,New Comet; NEUJMIN'S COMET,Announcement Card number: 8
35,HCOAnnouncement0001_0008_c.innodata.csv,8,1926,11,8,Harlow Shapley,NEUJMIN'S COMET,New Comet; NEUJMIN'S COMET,Announcement Card number: 8
36,HCOAnnouncement0001_0009.innodata.xml,9,1920,11,10,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 9
37,HCOAnnouncement0001_0009.innodata.jpg,9,1920,11,10,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 9
38,HCOAnnouncement0001_0009.innodata.txt,9,1920,11,10,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 9
39,HCOAnnouncement0001_0009_a.innodata.csv,9,1920,11,10,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET,Announcement Card number: 9
40,HCOAnnouncement0001_0010.innodata.xml,10,1926,11,11,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 10
41,HCOAnnouncement0001_0010.innodata.jpg,10,1926,11,11,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 10
42,HCOAnnouncement0001_0010.innodata.txt,10,1926,11,11,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 10
43,HCOAnnouncement0001_0010_a.innodata.csv,10,1926,11,11,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET,Announcement Card number: 10
44,HCOAnnouncement0001_0011.innodata.xml,11,1926,11,12,Harlow Shapley,NaN,ORBIT OF COMAS SOLA'S CCOMET,Announcement Card number: 11
45,HCOAnnouncement0001_0011.innodata.jpg,11,1926,11,12,Harlow Shapley,NaN,ORBIT OF COMAS SOLA'S CCOMET,Announcement Card number: 11
46,HCOAnnouncement0001_0011.innodata.txt,11,1926,11,12,Harlow Shapley,NaN,ORBIT OF COMAS SOLA'S CCOMET,Announcement Card number: 11
47,HCOAnnouncement0001_0011_a.innodata.csv,11,1926,11,12,Harlow Shapley,ORBIT OF COMAS SOLA'S CCOMET,ORBIT OF COMAS SOLA'S CCOMET,Announcement Card number: 11
48,HCOAnnouncement0001_0012.innodata.xml,12,1926,11,15,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 12
49,HCOAnnouncement0001_0012.innodata.jpg,12,1926,11,15,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 12
50,HCOAnnouncement0001_0012.innodata.txt,12,1926,11,15,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 12
51,HCOAnnouncement0001_0012_a.innodata.csv,12,1926,11,15,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET,Announcement Card number: 12
52,HCOAnnouncement0001_0012_b.innodata.csv,12,1926,11,15,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET,Announcement Card number: 12
53,HCOAnnouncement0001_0012_c.innodata.csv,12,1926,11,15,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET,Announcement Card number: 12
54,HCOAnnouncement0001_0013.innodata.xml,13,1926,12,15,Harlow Shapley,NaN,COMAS SOLA'S COMET (1926 f),Announcement Card number: 13
55,HCOAnnouncement0001_0013.innodata.jpg,13,1926,12,15,Harlow Shapley,NaN,COMAS SOLA'S COMET (1926 f),Announcement Card number: 13
56,HCOAnnouncement0001_0013.innodata.txt,13,1926,12,15,Harlow Shapley,NaN,COMAS SOLA'S COMET (1926 f),Announcement Card number: 13
57,HCOAnnouncement0001_0013_a.innodata.csv,13,1926,12,15,Harlow Shapley,COMAS SOLA'S COMET (1926 f),COMAS SOLA'S COMET (1926 f),Announcement Card number: 13
58,HCOAnnouncement0001_0013_b.innodata.csv,13,1926,12,15,Harlow Shapley,COMAS SOLA'S COMET (1926 f),COMAS SOLA'S COMET (1926 f),Announcement Card number: 13
59,HCOAnnouncement0001_0013_c.innodata.csv,13,1926,12,15,Harlow Shapley,COMAS SOLA'S COMET (1926 f),COMAS SOLA'S COMET (1926 f),Announcement Card number: 13

In [36]:
print(hco_test_batch)

                                   filename card_number card_date_year  \
0     HCOAnnouncement0001_0001.innodata.xml           1           1926
1     HCOAnnouncement0001_0001.innodata.jpg           1           1926
2     HCOAnnouncement0001_0001.innodata.txt           1           1926
3   HCOAnnouncement0001_0001_a.innodata.csv           1           1926
4   HCOAnnouncement0001_0001_b.innodata.csv           1           1926
5     HCOAnnouncement0001_0002.innodata.xml           2           1926
6     HCOAnnouncement0001_0002.innodata.jpg           2           1926
7     HCOAnnouncement0001_0002.innodata.txt           2           1926
8   HCOAnnouncement0001_0002_a.innodata.csv           2           1926
9   HCOAnnouncement0001_0002_b.innodata.csv           2           1926
10  HCOAnnouncement0001_0002_c.innodata.csv           2           1926
11    HCOAnnouncement0001_0003.innodata.xml           3           1926
12    HCOAnnouncement0001_0003.innodata.jpg           3           1926
13    HCOAnnouncement0001_0003.innodata.txt           3           1926
14    HCOAnnouncement0001_0004.innodata.xml           4           1926
15    HCOAnnouncement0001_0004.innodata.jpg           4           1926
16    HCOAnnouncement0001_0004.innodata.txt           4           1926
17  HCOAnnouncement0001_0004_a.innodata.csv           4           1926
18    HCOAnnouncement0001_0005.innodata.xml           5           1926
19    HCOAnnouncement0001_0005.innodata.jpg           5           1926
20    HCOAnnouncement0001_0005.innodata.txt           5           1926
21  HCOAnnouncement0001_0005_a.innodata.csv           5           1926
22    HCOAnnouncement0001_0006.innodata.xml           6           1926
23    HCOAnnouncement0001_0006.innodata.jpg           6           1926
24    HCOAnnouncement0001_0006.innodata.txt           6           1926
25  HCOAnnouncement0001_0006_a.innodata.csv           6           1926
26    HCOAnnouncement0001_0007.innodata.xml           7           1926
27    HCOAnnouncement0001_0007.innodata.jpg           7           1926
28    HCOAnnouncement0001_0007.innodata.txt           7           1926
29  HCOAnnouncement0001_0007_a.innodata.csv           7           1926
30    HCOAnnouncement0001_0008.innodata.xml           8           1926
31    HCOAnnouncement0001_0008.innodata.jpg           8           1926
32    HCOAnnouncement0001_0008.innodata.txt           8           1926
33  HCOAnnouncement0001_0008_a.innodata.csv           8           1926
34  HCOAnnouncement0001_0008_b.innodata.csv           8           1926
35  HCOAnnouncement0001_0008_c.innodata.csv           8           1926
36    HCOAnnouncement0001_0009.innodata.xml           9           1920
37    HCOAnnouncement0001_0009.innodata.jpg           9           1920
38    HCOAnnouncement0001_0009.innodata.txt           9           1920
39  HCOAnnouncement0001_0009_a.innodata.csv           9           1920
40    HCOAnnouncement0001_0010.innodata.xml          10           1926
41    HCOAnnouncement0001_0010.innodata.jpg          10           1926
42    HCOAnnouncement0001_0010.innodata.txt          10           1926
43  HCOAnnouncement0001_0010_a.innodata.csv          10           1926
44    HCOAnnouncement0001_0011.innodata.xml          11           1926
45    HCOAnnouncement0001_0011.innodata.jpg          11           1926
46    HCOAnnouncement0001_0011.innodata.txt          11           1926
47  HCOAnnouncement0001_0011_a.innodata.csv          11           1926
48    HCOAnnouncement0001_0012.innodata.xml          12           1926
49    HCOAnnouncement0001_0012.innodata.jpg          12           1926
50    HCOAnnouncement0001_0012.innodata.txt          12           1926
51  HCOAnnouncement0001_0012_a.innodata.csv          12           1926
52  HCOAnnouncement0001_0012_b.innodata.csv          12           1926
53  HCOAnnouncement0001_0012_c.innodata.csv          12           1926
54    HCOAnnouncement0001_0013.innodata.xml          13           1926
55    HCOAnnouncement0001_0013.innodata.jpg          13           1926
56    HCOAnnouncement0001_0013.innodata.txt          13           1926
57  HCOAnnouncement0001_0013_a.innodata.csv          13           1926
58  HCOAnnouncement0001_0013_b.innodata.csv          13           1926
59  HCOAnnouncement0001_0013_c.innodata.csv          13           1926

   card_date_month card_date_day        compiler  \
0                3            12  Harlow Shapley
1                3            12  Harlow Shapley
2                3            12  Harlow Shapley
3                3            12  Harlow Shapley
4                3            12  Harlow Shapley
5                3            18  Harlow Shapley
6                3            18  Harlow Shapley
7                3            18  Harlow Shapley
8                3            18  Harlow Shapley
9                3            18  Harlow Shapley
10               3            18  Harlow Shapley
11               5            15  Harlow Shapley
12               5            15  Harlow Shapley
13               5            15  Harlow Shapley
14               7            15  Harlow Shapley
15               7            15  Harlow Shapley
16               7            15  Harlow Shapley
17               7            15  Harlow Shapley
18               8             4  Harlow Shapley
19               8             4  Harlow Shapley
20               8             4  Harlow Shapley
21               8             4  Harlow Shapley
22               9             3  Harlow Shapley
23               9             3  Harlow Shapley
24               9             3  Harlow Shapley
25               9             3  Harlow Shapley
26              10            18  Harlow Shapley
27              10            18  Harlow Shapley
28              10            18  Harlow Shapley
29              10            18  Harlow Shapley
30              11             8  Harlow Shapley
31              11             8  Harlow Shapley
32              11             8  Harlow Shapley
33              11             8  Harlow Shapley
34              11             8  Harlow Shapley
35              11             8  Harlow Shapley
36              11            10  Harlow Shapley
37              11            10  Harlow Shapley
38              11            10  Harlow Shapley
39              11            10  Harlow Shapley
40              11            11  Harlow Shapley
41              11            11  Harlow Shapley
42              11            11  Harlow Shapley
43              11            11  Harlow Shapley
44              11            12  Harlow Shapley
45              11            12  Harlow Shapley
46              11            12  Harlow Shapley
47              11            12  Harlow Shapley
48              11            15  Harlow Shapley
49              11            15  Harlow Shapley
50              11            15  Harlow Shapley
51              11            15  Harlow Shapley
52              11            15  Harlow Shapley
53              11            15  Harlow Shapley
54              12            15  Harlow Shapley
55              12            15  Harlow Shapley
56              12            15  Harlow Shapley
57              12            15  Harlow Shapley
58              12            15  Harlow Shapley
59              12            15  Harlow Shapley

                                  observation  \
0                                         NaN
1                                         NaN
2                                         NaN
3                           BLATHWAYT’S COMET
4                           BLATHWAYT’S COMET
5                                         NaN
6                                         NaN
7                                         NaN
8                               ENSOR'S COMET
9                               ENSOR'S COMET
10                          BLATHWAYT’S COMET
11                                        NaN
12                                        NaN
13                                        NaN
14                                        NaN
15                                        NaN
16                                        NaN
17                    KOPFF'S COMET (1906-IV)
18                                        NaN
19                                        NaN
20                                        NaN
21                  FINLAY'S COMET (1886 VII)
22                                        NaN
23                                        NaN
24                                        NaN
25                       WILK COMETARY OBJECT
26                                        NaN
27                                        NaN
28                                        NaN
29  GIACOBINI-ZINNER COMET (1900 III, 1913 e)
30                                        NaN
31                                        NaN
32                                        NaN
33                                  New Comet
34                                  New Comet
35                            NEUJMIN'S COMET
36                                        NaN
37                                        NaN
38                                        NaN
39                         COMAS SOLA'S COMET
40                                        NaN
41                                        NaN
42                                        NaN
43                         COMAS SOLA'S COMET
44                                        NaN
45                                        NaN
46                                        NaN
47               ORBIT OF COMAS SOLA'S CCOMET
48                                        NaN
49                                        NaN
50                                        NaN
51                         COMAS SOLA'S COMET
52                         COMAS SOLA'S COMET
53                         COMAS SOLA'S COMET
54                                        NaN
55                                        NaN
56                                        NaN
57                COMAS SOLA'S COMET (1926 f)
58                COMAS SOLA'S COMET (1926 f)
59                COMAS SOLA'S COMET (1926 f)

                             all_observations                   series_name
0                           BLATHWAYT’S COMET   Announcement Card number: 1
1                           BLATHWAYT’S COMET   Announcement Card number: 1
2                           BLATHWAYT’S COMET   Announcement Card number: 1
3                           BLATHWAYT’S COMET   Announcement Card number: 1
4                           BLATHWAYT’S COMET   Announcement Card number: 1
5            ENSOR'S COMET; BLATHWAYT’S COMET   Announcement Card number: 2
6            ENSOR'S COMET; BLATHWAYT’S COMET   Announcement Card number: 2
7            ENSOR'S COMET; BLATHWAYT’S COMET   Announcement Card number: 2
8            ENSOR'S COMET; BLATHWAYT’S COMET   Announcement Card number: 2
9            ENSOR'S COMET; BLATHWAYT’S COMET   Announcement Card number: 2
10           ENSOR'S COMET; BLATHWAYT’S COMET   Announcement Card number: 2
11                                              Announcement Card number: 3
12                                              Announcement Card number: 3
13                                              Announcement Card number: 3
14                    KOPFF'S COMET (1906-IV)   Announcement Card number: 4
15                    KOPFF'S COMET (1906-IV)   Announcement Card number: 4
16                    KOPFF'S COMET (1906-IV)   Announcement Card number: 4
17                    KOPFF'S COMET (1906-IV)   Announcement Card number: 4
18                  FINLAY'S COMET (1886 VII)   Announcement Card number: 5
19                  FINLAY'S COMET (1886 VII)   Announcement Card number: 5
20                  FINLAY'S COMET (1886 VII)   Announcement Card number: 5
21                  FINLAY'S COMET (1886 VII)   Announcement Card number: 5
22                       WILK COMETARY OBJECT   Announcement Card number: 6
23                       WILK COMETARY OBJECT   Announcement Card number: 6
24                       WILK COMETARY OBJECT   Announcement Card number: 6
25                       WILK COMETARY OBJECT   Announcement Card number: 6
26  GIACOBINI-ZINNER COMET (1900 III, 1913 e)   Announcement Card number: 7
27  GIACOBINI-ZINNER COMET (1900 III, 1913 e)   Announcement Card number: 7
28  GIACOBINI-ZINNER COMET (1900 III, 1913 e)   Announcement Card number: 7
29  GIACOBINI-ZINNER COMET (1900 III, 1913 e)   Announcement Card number: 7
30                 New Comet; NEUJMIN'S COMET   Announcement Card number: 8
31                 New Comet; NEUJMIN'S COMET   Announcement Card number: 8
32                 New Comet; NEUJMIN'S COMET   Announcement Card number: 8
33                 New Comet; NEUJMIN'S COMET   Announcement Card number: 8
34                 New Comet; NEUJMIN'S COMET   Announcement Card number: 8
35                 New Comet; NEUJMIN'S COMET   Announcement Card number: 8
36                         COMAS SOLA'S COMET   Announcement Card number: 9
37                         COMAS SOLA'S COMET   Announcement Card number: 9
38                         COMAS SOLA'S COMET   Announcement Card number: 9
39                         COMAS SOLA'S COMET   Announcement Card number: 9
40                         COMAS SOLA'S COMET  Announcement Card number: 10
41                         COMAS SOLA'S COMET  Announcement Card number: 10
42                         COMAS SOLA'S COMET  Announcement Card number: 10
43                         COMAS SOLA'S COMET  Announcement Card number: 10
44               ORBIT OF COMAS SOLA'S CCOMET  Announcement Card number: 11
45               ORBIT OF COMAS SOLA'S CCOMET  Announcement Card number: 11
46               ORBIT OF COMAS SOLA'S CCOMET  Announcement Card number: 11
47               ORBIT OF COMAS SOLA'S CCOMET  Announcement Card number: 11
48                         COMAS SOLA'S COMET  Announcement Card number: 12
49                         COMAS SOLA'S COMET  Announcement Card number: 12
50                         COMAS SOLA'S COMET  Announcement Card number: 12
51                         COMAS SOLA'S COMET  Announcement Card number: 12
52                         COMAS SOLA'S COMET  Announcement Card number: 12
53                         COMAS SOLA'S COMET  Announcement Card number: 12
54                COMAS SOLA'S COMET (1926 f)  Announcement Card number: 13
55                COMAS SOLA'S COMET (1926 f)  Announcement Card number: 13
56                COMAS SOLA'S COMET (1926 f)  Announcement Card number: 13
57                COMAS SOLA'S COMET (1926 f)  Announcement Card number: 13
58                COMAS SOLA'S COMET (1926 f)  Announcement Card number: 13
59                COMAS SOLA'S COMET (1926 f)  Announcement Card number: 13

## Scrape URLs from HCO site

In [37]:
import requests
from bs4 import BeautifulSoup

In [40]:
def scrape_hac_urls(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    # Dictionary to store HAC numbers and their URLs
    hac_urls = {}

    # Find all links containing "HAC"
    for a_tag in soup.find_all('a', href=True):
        if 'HAC' in a_tag.text:
            # Extract HAC number from the text
            hac_number = ''.join(filter(str.isdigit, a_tag.text))
            if hac_number:
                hac_urls[int(hac_number)] = a_tag['href']

    return hac_urls

In [41]:
hac_url = "http://tamkin2.eps.harvard.edu/services/HACs.html"
hac_urls = scrape_hac_urls(hac_url)

In [63]:
def get_hac_url(card_number):
    try:
        card_number_int = int(card_number)
    except ValueError:
        return None
    url = hac_urls.get(card_number_int, None)
    if url is not None:
        return "http://tamkin2.eps.harvard.edu" + url
    return None

In [64]:
hco_test_batch['url'] = hco_test_batch['card_number'].apply(get_hac_url)

/var/folders/x5/8k4j_05j26vccc6wvb8y4cw00000gq/T/ipykernel_9731/2598291805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hco_test_batch['url'] = hco_test_batch['card_number'].apply(get_hac_url)

In [65]:
hco_test_batch

,filename,card_number,card_date_year,card_date_month,card_date_day,compiler,observation,all_observations,series_name,url
0,HCOAnnouncement0001_0001.innodata.xml,1,1926,3,12,Harlow Shapley,NaN,BLATHWAYT’S COMET,Announcement Card number: 1,http://tamkin2.eps.harvard.edu/IAUCs/HAC0001.jpg
1,HCOAnnouncement0001_0001.innodata.jpg,1,1926,3,12,Harlow Shapley,NaN,BLATHWAYT’S COMET,Announcement Card number: 1,http://tamkin2.eps.harvard.edu/IAUCs/HAC0001.jpg
2,HCOAnnouncement0001_0001.innodata.txt,1,1926,3,12,Harlow Shapley,NaN,BLATHWAYT’S COMET,Announcement Card number: 1,http://tamkin2.eps.harvard.edu/IAUCs/HAC0001.jpg
3,HCOAnnouncement0001_0001_a.innodata.csv,1,1926,3,12,Harlow Shapley,BLATHWAYT’S COMET,BLATHWAYT’S COMET,Announcement Card number: 1,http://tamkin2.eps.harvard.edu/IAUCs/HAC0001.jpg
4,HCOAnnouncement0001_0001_b.innodata.csv,1,1926,3,12,Harlow Shapley,BLATHWAYT’S COMET,BLATHWAYT’S COMET,Announcement Card number: 1,http://tamkin2.eps.harvard.edu/IAUCs/HAC0001.jpg
5,HCOAnnouncement0001_0002.innodata.xml,2,1926,3,18,Harlow Shapley,NaN,ENSOR'S COMET; BLATHWAYT’S COMET,Announcement Card number: 2,http://tamkin2.eps.harvard.edu/IAUCs/HAC0002.jpg
6,HCOAnnouncement0001_0002.innodata.jpg,2,1926,3,18,Harlow Shapley,NaN,ENSOR'S COMET; BLATHWAYT’S COMET,Announcement Card number: 2,http://tamkin2.eps.harvard.edu/IAUCs/HAC0002.jpg
7,HCOAnnouncement0001_0002.innodata.txt,2,1926,3,18,Harlow Shapley,NaN,ENSOR'S COMET; BLATHWAYT’S COMET,Announcement Card number: 2,http://tamkin2.eps.harvard.edu/IAUCs/HAC0002.jpg
8,HCOAnnouncement0001_0002_a.innodata.csv,2,1926,3,18,Harlow Shapley,ENSOR'S COMET,ENSOR'S COMET; BLATHWAYT’S COMET,Announcement Card number: 2,http://tamkin2.eps.harvard.edu/IAUCs/HAC0002.jpg
9,HCOAnnouncement0001_0002_b.innodata.csv,2,1926,3,18,Harlow Shapley,ENSOR'S COMET,ENSOR'S COMET; BLATHWAYT’S COMET,Announcement Card number: 2,http://tamkin2.eps.harvard.edu/IAUCs/HAC0002.jpg
10,HCOAnnouncement0001_0002_c.innodata.csv,2,1926,3,18,Harlow Shapley,BLATHWAYT’S COMET,ENSOR'S COMET; BLATHWAYT’S COMET,Announcement Card number: 2,http://tamkin2.eps.harvard.edu/IAUCs/HAC0002.jpg
11,HCOAnnouncement0001_0003.innodata.xml,3,1926,5,15,Harlow Shapley,NaN,,Announcement Card number: 3,None
12,HCOAnnouncement0001_0003.innodata.jpg,3,1926,5,15,Harlow Shapley,NaN,,Announcement Card number: 3,None
13,HCOAnnouncement0001_0003.innodata.txt,3,1926,5,15,Harlow Shapley,NaN,,Announcement Card number: 3,None
14,HCOAnnouncement0001_0004.innodata.xml,4,1926,7,15,Harlow Shapley,NaN,KOPFF'S COMET (1906-IV),Announcement Card number: 4,None
15,HCOAnnouncement0001_0004.innodata.jpg,4,1926,7,15,Harlow Shapley,NaN,KOPFF'S COMET (1906-IV),Announcement Card number: 4,None
16,HCOAnnouncement0001_0004.innodata.txt,4,1926,7,15,Harlow Shapley,NaN,KOPFF'S COMET (1906-IV),Announcement Card number: 4,None
17,HCOAnnouncement0001_0004_a.innodata.csv,4,1926,7,15,Harlow Shapley,KOPFF'S COMET (1906-IV),KOPFF'S COMET (1906-IV),Announcement Card number: 4,None
18,HCOAnnouncement0001_0005.innodata.xml,5,1926,8,4,Harlow Shapley,NaN,FINLAY'S COMET (1886 VII),Announcement Card number: 5,None
19,HCOAnnouncement0001_0005.innodata.jpg,5,1926,8,4,Harlow Shapley,NaN,FINLAY'S COMET (1886 VII),Announcement Card number: 5,None
20,HCOAnnouncement0001_0005.innodata.txt,5,1926,8,4,Harlow Shapley,NaN,FINLAY'S COMET (1886 VII),Announcement Card number: 5,None
21,HCOAnnouncement0001_0005_a.innodata.csv,5,1926,8,4,Harlow Shapley,FINLAY'S COMET (1886 VII),FINLAY'S COMET (1886 VII),Announcement Card number: 5,None
22,HCOAnnouncement0001_0006.innodata.xml,6,1926,9,3,Harlow Shapley,NaN,WILK COMETARY OBJECT,Announcement Card number: 6,None
23,HCOAnnouncement0001_0006.innodata.jpg,6,1926,9,3,Harlow Shapley,NaN,WILK COMETARY OBJECT,Announcement Card number: 6,None
24,HCOAnnouncement0001_0006.innodata.txt,6,1926,9,3,Harlow Shapley,NaN,WILK COMETARY OBJECT,Announcement Card number: 6,None
25,HCOAnnouncement0001_0006_a.innodata.csv,6,1926,9,3,Harlow Shapley,WILK COMETARY OBJECT,WILK COMETARY OBJECT,Announcement Card number: 6,None
26,HCOAnnouncement0001_0007.innodata.xml,7,1926,10,18,Harlow Shapley,NaN,"GIACOBINI-ZINNER COMET (1900 III, 1913 e)",Announcement Card number: 7,None
27,HCOAnnouncement0001_0007.innodata.jpg,7,1926,10,18,Harlow Shapley,NaN,"GIACOBINI-ZINNER COMET (1900 III, 1913 e)",Announcement Card number: 7,None
28,HCOAnnouncement0001_0007.innodata.txt,7,1926,10,18,Harlow Shapley,NaN,"GIACOBINI-ZINNER COMET (1900 III, 1913 e)",Announcement Card number: 7,None
29,HCOAnnouncement0001_0007_a.innodata.csv,7,1926,10,18,Harlow Shapley,"GIACOBINI-ZINNER COMET (1900 III, 1913 e)","GIACOBINI-ZINNER COMET (1900 III, 1913 e)",Announcement Card number: 7,None
30,HCOAnnouncement0001_0008.innodata.xml,8,1926,11,8,Harlow Shapley,NaN,New Comet; NEUJMIN'S COMET,Announcement Card number: 8,None
31,HCOAnnouncement0001_0008.innodata.jpg,8,1926,11,8,Harlow Shapley,NaN,New Comet; NEUJMIN'S COMET,Announcement Card number: 8,None
32,HCOAnnouncement0001_0008.innodata.txt,8,1926,11,8,Harlow Shapley,NaN,New Comet; NEUJMIN'S COMET,Announcement Card number: 8,None
33,HCOAnnouncement0001_0008_a.innodata.csv,8,1926,11,8,Harlow Shapley,New Comet,New Comet; NEUJMIN'S COMET,Announcement Card number: 8,None
34,HCOAnnouncement0001_0008_b.innodata.csv,8,1926,11,8,Harlow Shapley,New Comet,New Comet; NEUJMIN'S COMET,Announcement Card number: 8,None
35,HCOAnnouncement0001_0008_c.innodata.csv,8,1926,11,8,Harlow Shapley,NEUJMIN'S COMET,New Comet; NEUJMIN'S COMET,Announcement Card number: 8,None
36,HCOAnnouncement0001_0009.innodata.xml,9,1920,11,10,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 9,None
37,HCOAnnouncement0001_0009.innodata.jpg,9,1920,11,10,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 9,None
38,HCOAnnouncement0001_0009.innodata.txt,9,1920,11,10,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 9,None
39,HCOAnnouncement0001_0009_a.innodata.csv,9,1920,11,10,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET,Announcement Card number: 9,None
40,HCOAnnouncement0001_0010.innodata.xml,10,1926,11,11,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 10,None
41,HCOAnnouncement0001_0010.innodata.jpg,10,1926,11,11,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 10,None
42,HCOAnnouncement0001_0010.innodata.txt,10,1926,11,11,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 10,None
43,HCOAnnouncement0001_0010_a.innodata.csv,10,1926,11,11,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET,Announcement Card number: 10,None
44,HCOAnnouncement0001_0011.innodata.xml,11,1926,11,12,Harlow Shapley,NaN,ORBIT OF COMAS SOLA'S CCOMET,Announcement Card number: 11,None
45,HCOAnnouncement0001_0011.innodata.jpg,11,1926,11,12,Harlow Shapley,NaN,ORBIT OF COMAS SOLA'S CCOMET,Announcement Card number: 11,None
46,HCOAnnouncement0001_0011.innodata.txt,11,1926,11,12,Harlow Shapley,NaN,ORBIT OF COMAS SOLA'S CCOMET,Announcement Card number: 11,None
47,HCOAnnouncement0001_0011_a.innodata.csv,11,1926,11,12,Harlow Shapley,ORBIT OF COMAS SOLA'S CCOMET,ORBIT OF COMAS SOLA'S CCOMET,Announcement Card number: 11,None
48,HCOAnnouncement0001_0012.innodata.xml,12,1926,11,15,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 12,None
49,HCOAnnouncement0001_0012.innodata.jpg,12,1926,11,15,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 12,None
50,HCOAnnouncement0001_0012.innodata.txt,12,1926,11,15,Harlow Shapley,NaN,COMAS SOLA'S COMET,Announcement Card number: 12,None
51,HCOAnnouncement0001_0012_a.innodata.csv,12,1926,11,15,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET,Announcement Card number: 12,None
52,HCOAnnouncement0001_0012_b.innodata.csv,12,1926,11,15,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET,Announcement Card number: 12,None
53,HCOAnnouncement0001_0012_c.innodata.csv,12,1926,11,15,Harlow Shapley,COMAS SOLA'S COMET,COMAS SOLA'S COMET,Announcement Card number: 12,None
54,HCOAnnouncement0001_0013.innodata.xml,13,1926,12,15,Harlow Shapley,NaN,COMAS SOLA'S COMET (1926 f),Announcement Card number: 13,None
55,HCOAnnouncement0001_0013.innodata.jpg,13,1926,12,15,Harlow Shapley,NaN,COMAS SOLA'S COMET (1926 f),Announcement Card number: 13,None
56,HCOAnnouncement0001_0013.innodata.txt,13,1926,12,15,Harlow Shapley,NaN,COMAS SOLA'S COMET (1926 f),Announcement Card number: 13,None
57,HCOAnnouncement0001_0013_a.innodata.csv,13,1926,12,15,Harlow Shapley,COMAS SOLA'S COMET (1926 f),COMAS SOLA'S COMET (1926 f),Announcement Card number: 13,None
58,HCOAnnouncement0001_0013_b.innodata.csv,13,1926,12,15,Harlow Shapley,COMAS SOLA'S COMET (1926 f),COMAS SOLA'S COMET (1926 f),Announcement Card number: 13,None
59,HCOAnnouncement0001_0013_c.innodata.csv,13,1926,12,15,Harlow Shapley,COMAS SOLA'S COMET (1926 f),COMAS SOLA'S COMET (1926 f),Announcement Card number: 13,None

In [66]:
#export metadata file for local editing
hco_test_batch.to_csv(source_path + "batch_metdata.csv", index = False)